{% extends "_layout/_base.html" %}
{% block content %}
<h1>Sign Up</h1>
<br>
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <img src="/static/img/logo-clean_16x16.png" />&nbsp;&nbsp;<strong>Already have an account?</strong> <a href="{{url_for('auth.login')}}" class="alert-link">Login here</a> instead, mate!
</div>
<form method="post" action="{{ url_for('auth.signup', provider='basic') }}">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="first_name" name="first_name" class="form-control" id="first_name" placeholder="First Name">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="last_name" name="last_name" class="form-control" id="last_name" placeholder="Last Name">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" name="email" class="form-control" id="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="pwd">Password</label>
    <input type="password" name="password" class="form-control" id="pwd" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-warning btn-block">Let me in</button>
</form>
<hr>
<fb:login-button scope="public_profile,email" data-max-rows="1" data-size="xlarge" data-show-faces="true" data-auto-logout-link="true" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>
{% endblock %}
{% block js %}
      // This is called with the results from from FB.getLoginStatus().
      function statusChangeCallback(response) {
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
          // Logged into your app and Facebook.
          facebookLogin(response);
        } else if (response.status === 'not_authorized') {
          // The person is logged into Facebook, but not your app.
          document.getElementById('status').innerHTML = 'Please log ' +
            'into this app.';
        } else {
          // The person is not logged into Facebook, so we're not sure if
          // they are logged into this app or not.
          document.getElementById('status').innerHTML = 'Please log ' +
            'into Facebook.';
        }
      }

      // This function is called when someone finishes with the Login
      // Button.  See the onlogin handler attached to it in the sample
      // code below.
      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }

      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1587405191399552',
          xfbml      : true,
          version    : 'v2.5'
        });

        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      };

      function facebookLogin(response) {
        console.log(response.authResponse.accessToken);
        FB.api('/me?fields=email', function(resp) {
          if (!resp.email || !resp.id) return;

          var accessToken = response.authResponse.accessToken;
          var payload = "access_token=" + accessToken + "&id=" + resp.id + "&email=" + resp.email;
          $.ajax({
            url: "{{ url_for('auth.login', provider='facebook') }}",
            type: "POST",
            data: payload
          }).done(function(res) {
            window.location = "{{ url_for('accounts.index') }}"
          });
        });
      }

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
{% endblock %}